@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#bg-video {
    object-fit: cover;
    position: absolute;
    max-width: 100%;
    z-index: -10;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(wallpaper_minecraft_fireplace_3840x2160.png) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.jadwal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: url(wallpaper_minecraft_fireplace_3840x2160.png) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

section#quote_generator{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

#quote_generator h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#quote_generator h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.quote_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
}

.quote {
    font-size: 2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


/*Jadwal CSS*/

main.table {
    width: 82vw;
    height: 80vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    
}

.table_header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .8rem .8rem 0 0;
}

.table_body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;
    overflow: overlay;
}

.isi tr {
    height: 120px;

}

.table_body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
    table-layout: fixed;
}

table, th, td{
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody td:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6;
}

